apiVersion: apps/v1
kind: Deployment
metadata:
  name: dockerapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dockerapp
  template:
    metadata:
      labels:
        app: dockerapp
    spec:
      containers:
      - name: dockerapp
        image: rajkesarwani59/dockerapp:version1  
        ports:
        - containerPort: 8000
        resources:                                  
          requests:
            memory: "256Mi"                         
            cpu: "500m"                             
          limits:
            memory: "512Mi"                        
            cpu: "1"      
